# 此文件只描述配置项；首次执行 ./bin/dev.sh up 会生成带随机密码的 .env。
TZ=Asia/Shanghai

MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=change-me
MYSQL_APP_USER=scm_app
MYSQL_APP_PASSWORD=change-me
MYSQL_NACOS_USER=nacos
MYSQL_NACOS_PASSWORD=change-me

REDIS_PORT=6379
REDIS_USERNAME=scm_app
REDIS_PASSWORD=change-me

ROCKETMQ_NAMESRV_PORT=9876
ROCKETMQ_BROKER_PORT=10911
ROCKETMQ_BROKER_FAST_PORT=10909
ROCKETMQ_HA_PORT=10912
ROCKETMQ_PROXY_GRPC_PORT=8081
ROCKETMQ_PROXY_REMOTING_PORT=8082

NACOS_API_PORT=8848
NACOS_CONSOLE_PORT=8080
NACOS_GRPC_PORT=9848
NACOS_USERNAME=nacos
NACOS_PASSWORD=change-me
NACOS_AUTH_IDENTITY_KEY=change-me
NACOS_AUTH_IDENTITY_VALUE=change-me
NACOS_AUTH_TOKEN=change-me

NGINX_HTTP_PORT=8088
NGINX_USERNAME=admin
NGINX_PASSWORD=change-me
